[Unit]
Description=Podman {{ pod._service_name }}
Documentation=https://github.com/edvgui/inmanta-module-podman
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/%U/containers
{%- for container in pod.containers %}
Wants={{ container._service_name }}
Before={{ container._service_name }}
{%- endfor %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman pod create \
        --infra-conmon-pidfile=%t/pod-{{ pod.name }}.pid \
        --pod-id-file=%t/pod-{{ pod.name }}.pod-id \
        --exit-policy=stop \
        --replace \
        {% for network in pod.networks -%}
        --network={{ network.cli_option }} \
        {% endfor -%}
        {% for publish in pod.publish -%}
        --publish={{ publish.cli_option }} \
        {% endfor -%}
        {% if pod.hostname is not none -%}
        --hostname={{ pod.hostname }} \
        {% endif -%}
        {% for uid_map in pod.uidmap -%}
        --uidmap={{ uid_map.cli_option }} \
        {% endfor -%}
        {% for gid_map in pod.gidmap -%}
        --gidmap={{ gid_map.cli_option }} \
        {% endfor -%}
        --name={{ pod.name }}
ExecStart=/usr/bin/podman pod start \
        --pod-id-file %t/pod-{{ pod.name }}.pod-id
ExecStop=/usr/bin/podman pod stop \
        --ignore \
        --pod-id-file %t/pod-{{ pod.name }}.pod-id  \
        -t 10
ExecStopPost=/usr/bin/podman pod rm \
        --ignore \
        -f \
        --pod-id-file %t/pod-{{ pod.name }}.pod-id
PIDFile=%t/pod-{{ pod.name }}.pid
Type=forking

[Install]
WantedBy=default.target
