name: Integration tests

on:
  push:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  linting:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          architecture: 'x64'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install module and its dependencies
        run: |
          uv venv
          uv pip install -r requirements.dev.txt -e . -c requirements.txt

      - name: Lint with flake8
        run: |
          source .venv/bin/activate
          flake8 tests inmanta_plugins
          pyupgrade --py312-plus $(find inmanta_plugins tests -type f -name '*.py')

  tests:

    runs-on: ubuntu-latest
    container:
      image: quay.io/podman/stable:latest
      options: --privileged

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          architecture: 'x64'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install module and its dependencies
        run: |
          uv venv
          uv pip install -r requirements.dev.txt -e . -c requirements.txt

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest tests -vvv --log-cli-level debug
